<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/app.js"></script>
    <title>boincview-web</title>
  </head>

  <body>
    <div id="app">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <ul class="list-group">
				<li v-for="host in hosts" class="list-group-item"><i v-bind:class="{ 'fa': true, 'fa-desktop': true, 'list-group-item-danger': host.active == 0, 'list-group-item-success': host.active == 1 }" style="background-color: inherit;" aria-hidden="true"></i> {{ host.name }}</li>
            </ul>
          </div>
          <div class="col-md-10">
            <ul class="nav nav-tabs">
              <li role="presentation"><a href="#">Projects</a></li>
              <li role="presentation"><a href="#">Hosts</a></li>
              <li role="presentation" class="active"><a href="#">Work</a></li>
              <li role="presentation"><a href="#">Completed</a></li>
              <li role="presentation"><a href="#">Transfers</a></li>
              <li role="presentation"><a href="#">Disk</a></li>
              <li role="presentation"><a href="#">Messages</a></li>
            </ul>
            [% content %]
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
